.sliderContainer {
  width: 100%;
  max-width: 1324px;
  margin: 0 auto;
  position: relative; 
}

.slider {
  display: flex; 
  overflow: hidden; 
  position: relative; 
}

.actor {
  flex: 0 0 16.666%; /* 100% / 6 = 11.111%, щоб було 9 акторів одночасно */
  width: 100%;
  padding: 10px;
  border-radius: 50%; 
  box-sizing: border-box; 
  position: relative; 
  transition: transform 0.3s ease; 
}

.actorImage {
  width: 100%; 
  height: auto; 
  border-radius: 50%; 
  object-fit: cover; 
}

.actorName {
  margin-top: 8px; 
  text-align: center; 
  font-family: 'Quicksand', sans-serif;
  font-size: 14px; 
  color: #fff; 
}

.navButton {
  position: absolute; 
  top: 50%; 
  right: -25px; 
  transform: translate(50%, -50%); 
  width: 48px; 
  height: 48px; 
  background: transparent; 
  border: none; 
  cursor: pointer; 
  z-index: 2; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.navIcon {
  width: 100%; 
  height: 100%; 
  object-fit: contain;
}

.navButton:hover .navIcon {
  filter: brightness(0.8);
}

.navButton:hover {
  background: transparent; 
}

.noActors {
  text-align: center; 
  font-family: 'Quicksand', sans-serif;
  font-size: 18px; 
  color: #fff; 
  margin-top: 20px; 
}