.moviesСontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



/* Сітка для відображення фільмів */
.moviesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
  gap: 20px;
}

.movieCard {
  background-color: #101010;
  
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movieCard:hover {
  transform: scale(1.05);
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 3 / 2; /* Пропорція 3:2 для зображення */
  overflow: hidden;
}

.movieImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.movieImage:hover {
  transform: scale(1.1);
}

.movieTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  color: #FF7043;
  font-weight: bold;
  text-decoration: none;
  
}

/* Скелетон */
.skeleton {
  background-color: #2f2f2f;
  border-radius: 8px;
  width: 100%;
  aspect-ratio: 3 / 2;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #2f2f2f;
  }
  50% {
    background-color: #3b3b3b;
  }
  100% {
    background-color: #2f2f2f;
  }
}

/* 📱 Адаптивна версія для планшетів та мобільних пристроїв */
@media (max-width: 1024px) {
  .moviesGrid {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }

  .movieCard {
    font-size: 14px;
  }
}

@media (max-width: 768px) {
  .moviesGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .movieCard {
    font-size: 14px;
  }

  .movieTitle {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .moviesGrid {
    grid-template-columns: repeat(1, 1fr); /* Відображення по одному фільму в рядок */
  }

  .movieTitle {
    font-size: 14px;
  }

  .imageWrapper {
    aspect-ratio: 2 / 3; /* Високий постер на мобільних */
  }
}