
/* Основний контейнер для пагінації */
.paginationContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  /* Кнопки пагінації */
  .pageArrov{
    padding: 8px 12px;
    border: 1px solid #101010;
    background: #101010;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color:#FF7043;
    font-family: 'Quicksand', sans-serif;
  }

  .pageButton {
    padding: 8px 12px;
    border: 1px solid #101010;
    background: #101010;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    color:#FFf;
    font-family: 'Quicksand', sans-serif;
  }
  
  .pageButton:hover {
    border-radius: solid 1px #ff7043;

  }
  
  /* Активна сторінка */
  .active {
    text-decoration: underline;
    color: #ff7043;
  }
  
  /* Вимкнені кнопки */
  .disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  /* Точки "..." */
  .ellipsis {
    padding: 8px 12px;
    color: #888;
  }
  
  /* Кнопки "Перша" та "Остання" */
  .firstLastButton {
    display: block;
  }
  
  /* Медіа-запити для адаптивності */
  @media (max-width: 768px) {
    .paginationContainer {
      flex-wrap: nowrap;
      gap: 4px;
    }
  
    .pageButton {
      padding: 6px 10px; /* Зменшуємо розмір кнопок */
    }
  
    /* Приховуємо кнопки "Перша" та "Остання" на мобільних пристроях */
    .firstLastButton {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .pageButton {
      padding: 5px 8px; /* Зменшуємо розмір кнопок ще більше */
      font-size: 12px;  /* Зменшуємо розмір шрифту */
    }
  
    .ellipsis {
      padding: 5px 8px; /* Зменшуємо розмір відступів */
    }
  }