.sliderWrapper {
  position: relative;
  width: 1400px; 
  margin: 0 auto;
  overflow: hidden; /* Щоб не було горизонтальної прокрутки */
}

.sliderContainer {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.box1 {
  flex: 0 0 auto; 
  width: 316px; 
  height: 210px;
  margin-top: 20px; 
  margin-right: 20px; 
}

.boxImage1 img {
  width: 315px; 
  height: 200px; 
  border-radius: 8px; 
  transition: transform 0.3s ease;
}

.boxImage1 img:hover {
  transform: scale(1.05); 
}

.scrollButtonRight {
  position: absolute;
  top: 50%;
  right: -10px; 
  transform: translateY(-50%);
  width: 48px; 
  height: 48px; 
  background-color: transparent; 
  border: none; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
  z-index: 10; 
}

.arrowIcon {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
  transition: transform 0.3s ease;
}

.scrollButtonRight:hover .arrowIcon {
  transform: scale(1.1);
}

.scrollButtonRight:focus {
  outline: none; 
}

.scrollButtonRight:hover {
  background-color: transparent; 
}
